@import 'styles.desktop';
@import 'styles.mobile';

// Common styles
@import './constants/style-commons';

// Component styles
@import './components/DateNavigator/styles';

body {
  margin: 0;
  background-color: $bg-color-primary;
  font-family: $font-family-primary;
}
